<html>
<head>

</head>
<body>
<form method="get">
    <fieldset style="width: 30%">
        <legend>Perform a search</legend>
        <table>
            <tr>
                <td>Activity Type</td>
                <td> <input type="text" name="type" placeholder="please type a TYPE"></td>
            </tr>

            <tr>
                <td><button type="submit">search</button></td>
            </tr>

        </table>

    </fieldset>


</form>


</body>


</html>